k8s-monitoring:
  cluster:
    name: povsim

  externalServices:
    prometheus:
      host: https://prometheus-prod-36-prod-us-west-0.grafana.net
      writeEndpoint: /api/prom/push
      secret:
        name: grafana-cloud-credentials
        namespace: monitoring
      basicAuth:
        usernameKey: metrics-username
        passwordKey: metrics-password
    
    loki:
      host: https://logs-prod-021.grafana.net
      writeEndpoint: /loki/api/v1/push
      secret:
        name: grafana-cloud-credentials
        namespace: monitoring
      basicAuth:
        usernameKey: logs-username
        passwordKey: logs-password
    
    tempo:
      host: https://otlp-gateway-prod-us-west-0.grafana.net
      secret:
        name: grafana-cloud-credentials
        namespace: monitoring
      basicAuth:
        usernameKey: otlp-username
        passwordKey: otlp-password
    
    pyroscope:
      host: https://profiles-prod-008.grafana.net
      secret:
        name: grafana-cloud-credentials
        namespace: monitoring
      basicAuth:
        usernameKey: profiles-username
        passwordKey: profiles-password

  clusterMetrics:
    enabled: true
    kepler:
      enabled: true
  
  clusterEvents:
    enabled: true
  
  podLogs:
    enabled: true
  
  applicationObservability:
    enabled: true
    receivers:
      otlp:
        grpc:
          enabled: true
          port: 4317
        http:
          enabled: true
          port: 4318
      zipkin:
        enabled: true
        port: 9411
  
  alloy-metrics:
    enabled: true
  
  alloy-singleton:
    enabled: true
  
  alloy-logs:
    enabled: true
  
  alloy-receiver:
    enabled: true
    alloy:
      extraPorts:
        - name: otlp-grpc
          port: 4317
          targetPort: 4317
          protocol: TCP
        - name: otlp-http
          port: 4318
          targetPort: 4318
          protocol: TCP
        - name: zipkin
          port: 9411
          targetPort: 9411
          protocol: TCP
        - name: pyroscope
          port: 4040
          targetPort: 4040
          protocol: TCP